@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4292ED;
  --secondary: #575757;
  --tertiary: #ED4242;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Quicksand", sans-serif;
}

input {
  outline: none;
}

.aside-block {
  /* flex: 1; */
  height: 15vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: flex 0.3s ease;
  clip-path: polygon(0 50px, 100% 0, 100% calc(100% - 50px), 0% 100%);
  transition: height 0.5s ease-in-out, z-index 0.3s ease, opacity 0.3s ease;
}

.aside-block+.aside-block {
  margin-top: -50px;
}

.aside-hover {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: white;
  font-weight: bold;
  opacity: 0;
  position: relative;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.aside-block:not(.black):hover {
  /* flex: 4; */
  height: 65vh;
  z-index: 10;
  transition: opacity 0.3s ease, height 1s ease-in-out;
}

.aside-block:not(.black):hover .aside-hover {
  opacity: 1;
}

.clip-path-bottom {
  clip-path: polygon(0 0px, 100% 0, 100% calc(100% - 50px), 0% 100%);
}

.clip-path-top {
  clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
}

/* bloco preto maior */
.aside-block.black {
  height: 55vh;
  flex: 3;
}